{% extends 'base.html' %}

{% block content %}

    <div class="container">
      <div class="jumbotron">
        <h3>New items sold!</h3>
        <p class="lead"> 6 </p>
        <a class="btn btn-lg btn-primary" href="{{url_for('root')}}" role="button">Pick Items Now »</a>
      </div>
    </div>
    <div class="container">
      <div class="jumbotron">
        <h3>Sales Revenue this week</h3>
        <p class="lead">$2,000,000</p>
        <a class="btn btn-lg btn-primary" href="{{url_for('root')}}"  role="button">View navbar docs »</a>
      </div>
    </div>
    <div class="container">
      <div class="jumbotron">
        <h3>Transcations Details This Week</h3>
        <p class="lead">Refunds: $100</p>
        <p class="lead">Total orders: 100</p>
        <a class="btn btn-lg btn-primary" href="{{url_for('root')}}" role="button">View navbar docs »</a>
      </div>
    </div>


<div class="container">
  <ul>
   {% for user in users %}
    <li>
      {{user.email}},
      {{user.firstname}},
      {{user.lastname}}
    </li>
  {% endfor %}
  </ul>
</div>


{% endblock %}