{% extends 'base.html' %}

{% block title %}
  Sign Up
{% endblock%}

{% block head %}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/fadein.css') }}">
{% endblock%}


{% block content %}
  <div id="pop-up">
    <div class="container1">
      <h1>Welcome</h1>
      <p>Please Sign Up!</p>
        <form method="POST" action="{{url_for('users.signup')}}">
            {{ form.csrf_token }}
             <p>{{ form.email(placeholder="email")}}
                <br>
                  {% if form.email.errors %}
                    {% for error in form.email.errors %}
                      {{ error }}
                    {% endfor %}
                  {% endif %}
             </p>
             <p>{{ form.password(placeholder="password") }}
                <br>
                  {% if form.password.errors %}
                    {% for error in form.password.errors %}
                      {{ error }}
                    {% endfor %}
                  {% endif %}
             </p>
             <p>{{ form.firstname(placeholder="first name") }}
                <br>
                  {% if form.firstname.errors %}
                    {% for error in form.firstname.errors %}
                      {{ error }}
                    {% endfor %}
                  {% endif %}
             </p>
             <p>{{ form.lastname(placeholder="last name") }}
                <br>
                  {% if form.lastname.errors %}
                    {% for error in form.lastname.errors %}
                      {{ error }}
                    {% endfor %}
                  {% endif %}
             </p>
            <button type="submit" class="button-black">Sign Up!</button>
          </form>
    </div>
  </div>

{% endblock %}