body{margin: 0; position: relative;}

#pop-up{
  position: relative;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
#pop-up .container1{
  background: #e3f2fd;
  padding: 30px;
  position: absolute;
  width: 80%;
  border: 3px solid #cce6ff;
  box-sizing: border-box;
  border-radius: 20px 20px 20px 0;
}
#pop-up input{
  padding: 10px;
  border: 0;
  border-radius: 10px 10px 10px 0;
  border: 3px solid #cce6ff;
  font-size: 18px;
}

#pop-up{
  animation: fadeIn 2s ease
}

@keyframes fadeIn{
  0%{opacity: 0;}
  100%{opacity: 1}
}